.App {
    font-size: 110%;
    color: #f8f9fa;
    background-color: black;
    background-image: url("./24359364107_152b0152ff_k-879x485.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 48px;
}

.Card {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50px;
    margin-top: 100px;
    border-radius: 1%;
}

.Time {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 105%;
}

.Nav-Item:hover,
.Nav-Item:active {
    border-bottom: 1px solid;
}

.Delete-Icon:hover,
.Delete-Icon:active {
    transition: color 0.2s;
    color: #dc3545;
}

.react-datetimerange-picker {
    padding: 5px;
    background-color: white;
    color: black;
}

.react-datetimerange-picker__wrapper {
    border: none
}

.react-datetimerange-picker__inputGroup {
    margin: 0 3px;
}

.pagination > li > a {
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

button.page-link {
    background-color: #343a40;
    border: 1px solid #555;
    color: white;
}


.page-item.active {

}
